:root {
  --bg-color: #444;
  --bg-color-dark1: #333;
  --bg-color-dark2: #222;
  --bg-color-light0: #494949;
  --bg-color-light1: #555;
  --bg-color-light2: #666;
  --bg-color-selected: #4b5758;
  --bg-color-error: #533;
  --bg-color-highlight: #3d5562;

  --color: #eee;
  --color-error: #fbb;
  --link-color: #9aaad9;
  --link-active-color: #7462f4;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  background: var(--bg-color);
  color: var(--color);
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: var(--link-active-color);
  }
}

input {
  background: var(--bg-color);
  border-top-color: var(--bg-color-dark2);
  border-left-color: var(--bg-color-dark2);
  border-bottom-color: var(--bg-color-light2);
  border-right-color: var(--bg-color-light2);
  color: var(--color);
}

button {
  background: var(--bg-color-light1);
  color: var(--color);
  border-color: var(--bg-color-light2) var(--bg-color-dark2) var(--bg-color-dark2) var(--bg-color-light2);

  &:active {
    background: var(--bg-color-dark1);
    color: var(--color);
    border-color: var(--bg-color-dark2) var(--bg-color-light2) var(--bg-color-light2) var(--bg-color-dark2);
  }
}


.grid-x {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.inline {
    display: inline-block;
    vertical-align: middle;
  }

  &.margin-right > * {
    margin-right: .5rem;
  }

  &.margin-bottom > * {
    margin-bottom: .5rem;
  }

  & > .grow {
    flex-grow: 1000;
  }

}

.error {
  background: var(--bg-color-error);
  color: var(--color-error);
}
